<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
</head>
<body>
<h1>Welcome</h1>

<div class="form-container">
    {{ form(form) }}
</div>
<a class="ZZZ" href="{{ path('affiche') }}">Return</a>
</body>
</html>
